html {
    font-size: 0.6rem;
  }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    html {
        font-size: 0.8rem;
      }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    html {
        font-size: 1rem;
      }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    html {
        font-size: 1.2rem;
      }
 }

 @media (max-width: 576px) { 
    iframe#vime {
        height: auto !important;
      }
 }

 iframe#vime {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }


/*  */
.navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}

/*  */

.mb-4, .my-4 {
    margin-bottom: 0!important;
}
 
.navbar-light .navbar-toggler {
    border: none; 
}

body {
    font-family: 'Lato', sans-serif;
    color: #202020;
}

.fp-tableCell {
    text-align: center;
}

span#shelfL {
    border-color: black;
    border-style: solid;
    border-width: 3px 0px 3px 0px;
    font-weight: bold;
}

#page_2 #sect2::before, #page_3 #sect3::before, #page_4 #sect4::before, #page_7 #sect7::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}
#page_2 #sect2, #page_3 #sect3, #page_4 #sect4, #sect7{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
#page_2 #sect2content, #page_3 #sect3content, #page_4 #sect4content{
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

}

/*  */
#page_2 #sect2::before {
    background-image: url('content/images/section_2-1_background_1080p.jpg');
}
#page_3 #sect3::before {
    background-image: url('content/images/section_3_background_1080p.jpg');
}
#page_4 #sect4::before {
    background-image: url('content/images/section_4_background_1080p.jpg');
}
/* #page_7 #sect7::before {
    background-image: url('content/images/section_7_background_1080p.png');
} */

/*  */


span.navbar-toggler-icon:hover {
    width: 1.6em;
    height: 1.6em;
}

#page_1 p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.9em;
}

#page_2 p, #page_3 p, #page_4 p, #page_5 p {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.7em;
}


div#fp-nav:hover {
    opacity: 0.75;
}
div#fp-nav {
    opacity: 0.5;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.5;
}

#textm {
    position: relative;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


nav.fixed-top.navbar.navbar-light.navbar-1.white {
    background-color: white;
} 

#adiff, #page_7 #text {
    position: absolute;
    margin-top: 0;
    top: 10%;
    left: 5%;
    width: 40%;
    text-align: left;
}


#page_2 h1, #page_3 h1, #page_4 h1 {
    font-size: 4.7rem;
}
#page_2 h3, #page_3 h3, #page_4 h3 {
    font-size: 3.1rem;
}

/*  */
/*  */
/*  */

div#s2btn_1 {
    height: 100%;
    width: 50%;
    float: left;
}
div#s2btn_2 {
    height: 100%;
    width: 50%;
    float: right;
}

div#s2_clear {
    clear: both;
}

#s2btn_1 {
    background-color: white;
}

sect2switch {
    background-color: white;
}

/*  */
/*  */
/*  */

div#sect2_btns .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  div#sect2_btns .switch input {display:none;}
  
  div#sect2_btns .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  div#sect2_btns .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  div#sect2_btns input:checked + .slider {
    /* background-color: #2196F3; */
  }
  
  div#sect2_btns input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
  }
  
  div#sect2_btns input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

  /*  */
  /*  */
  /*  */

#page_2 #sect2.sect2_2_active::before {
    background-image: url('content/images/section_2-2_background_1080p.jpg');
}

#textm p {opacity: 0.8;}

/*  */

#insembed {
    position: relative;
    left: 8%;
}

#page_9 {
    background-color: #EFF2F2;
}
#posters {
    position: relative;
    height: 100%;
    width:40%;
    left: 5%;
    /* background-color: red; */
    /* background-image: url('content/images/section_7-1_poster_600x1080.jpg') */

}

#posterright {
    position: absolute;
    margin-top: 0;
    top: 10%;
    right: 5%;
    width: 40%;
    text-align: right;
    

}
#posterright #text{

}

#posterright ul {
    text-align: left;
    margin-top: 10%;
}

#page_10 {
    background-color: #323232;
    color: white;
}

/*  */
/*  */
/*  */

div#accbtns {
    height: 80px;
    text-align: left;
    margin-top: 10%;
}

div#accbtns div#btn_1, div#accbtns div#btn_2, div#accbtns div#btn_3 {
    height: 100%;
    width: 80px;
    margin-right: 10px;
    background-color: #323232;
    display: inline-block;
}


#accbtns div{
    transition: transform .2s;
}

#accbtns div:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

#poster_1 {
    background-image: url(content/images/section_7-1_poster_600x1080.jpg);
}
#poster_2 {
    background-image: url(content/images/section_7-2_poster_600x1080.jpg);

}
#poster_3 {
    background-image: url(content/images/section_7-3_poster_600x1080.jpg);

}

.poster {
    position: absolute;
    height: 100%;
    width: 100%;
}

.opacityCero {
    opacity: 0;
}

.fadeIn {
    /* -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out; */
     opacity: 1;
     
}

.lists {
    position: absolute;
}

/* Background switching section 8 */

div#colorbtns {
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
}

div#colorbtns div#colorbtn_1, div#colorbtns div#colorbtn_2, div#colorbtns div#colorbtn_3 {
    height: 100%;
    width: 80px;
    margin-right: 10px;
    display: inline-block;
}
div#colorbtn_1 {
    background-color: white;
}
div#colorbtn_2 {
    background-color: black;
}
div#colorbtn_3 {
    background-color: red;
}

.colorbuttons{
    /* border: solid 1px black; */
    transition: transform .2s;
}

.colorbuttons:hover {
    transform: scale(1.1);
    opacity: 0.9;
}


#background_1, #background_2, #background_3{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#backgrounds div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background_1{
    background-image: url(content/images/shelve_white_1080p.jpg);
}

#background_2{
    background-image: url(content/images/shelve_black_1080p.jpg);
}

#background_3{
    background-image: url(content/images/shelve_red_1080p.jpg);
}

#poster_sign{
    background-image: url(content/images/Illuminated_sign_poster.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Pushing */

/* Pushing 2 */



.md-form label {
    color: white;
}

.transparent {
    background-color: transparent !important;
    box-shadow: unset;
}

.logoBordWhite {border-color: white !important;}

.logoBordBlack {border-color: black;}

/*  */
/*  */
/*  */

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 8px;
    width: 15px;
    border-radius: 0%;
}


#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 0;
    height: 3px;
    width: 8px;
}

form#contact-form input, form#contact-form textarea {
    color: white;
}

div#page_2,div#page_3,div#page_4,div#page_5,div#page_6,div#page_7,div#page_8,div#page_9,div#page_10 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}







/* Navbar */

/* Icon 1 */

.animated-icon1, .animated-icon3, .animated-icon4 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon3 span, .animated-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  /* .animated-icon1 span {
      background: #e65100;
  }
  
  .animated-icon3 span {
      background: #e3f2fd;
  }
  
  .animated-icon4 span {
      background: #f3e5f5;
  } */

  .animated-icon4 span {background-color: black}
  .animated-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
    top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
    top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  .animated-icon3 span:nth-child(2), .animated-icon3 span:nth-child(3) {
    top: 10px;
  }
  
  .animated-icon3 span:nth-child(4) {
    top: 20px;
  }
  
  .animated-icon3.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  
  .animated-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .animated-icon3.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  
  /* Icon 4 */
  
  .animated-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .animated-icon4 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .animated-icon4 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  .animated-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
  }
  
  .animated-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  .animated-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
  }

  /*  */

  .blackcolor {background-color: black !important;}
  .whitecolor {background-color: white !important;}

  div#navbarSupportedContent22 {
    text-align: right;
}


div#navbarSupportedContent22 {
    position: absolute;
    right: 5px;
    top: 110%;
    background-color: white;
    text-align: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 0 5px 0 5px;
    
}

/* nav#navbarid {
    line-height: 0;
}

nav#navbarid li {
    line-height: 1;
} */

.lineheight0{line-height: 0;}
.lineheight1{line-height: 1;}
.lineheight11 {line-height: 1 !important;}
.lineheight00{line-height: 0 !important;}


a.nav-link.waves-effect.waves-light:hover {
    font-size: 100%;
    background-color: lightgrey;
}

#phonediv {
    text-align: left;
}

div#phonen {
    position: relative;
    left: 30%;
    border-left: 3px white solid;
    padding-left: 10px;
    top: 10%
}


a.nav-link.waves-effect.waves-light {
    color: black !important;
}


