/* * .range_slider{
  box-sizing: border-box;
}

html .range_slider{
  background-color: #e1e1e1;
}

.container.range_slider {
  margin: 3em auto;
  width: 100%;
} */

.slider-container {
  display: block;
  height: 340px;
  margin: 0 auto;
  max-width: 500px;
  position: relative;
}

.range_slider label {
  display: block;
  text-align: center;
}

.range_slider input {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.range_slider .slider {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.range_slider .output {
  bottom: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range_slider input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 50%;
}
.range_slider input[type=range]:focus {
  outline: none;
}

.range_slider input[type=range]::-webkit-slider-runnable-track,
.range_slider input[type=range]::-moz-range-track {
  width: 5px;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border: 0 none;
  border-radius: 4px;
}

.range_slider input[type=range]::-ms-track {
  width: 5px;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range_slider input[type=range]::-ms-fill-lower,
.range_slider input[type=range]::-ms-fill-upper {
  background: white;
  border: 0 none;
  border-radius: 4px;
}

.range_slider input[type=range]::-moz-range-thumb,
.range_slider input[type=range]::-ms-thumb {
  background: #0072CE;
  border: 2px solid #004b91;
  border-radius: 0px;
  box-shadow: -3px 0 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 40px;
  width: 20px;
}

.range_slider input[type=range]::-webkit-slider-thumb {
  background: #0072CE;
  border: 2px solid #004b91;
  border-radius: 0px;
  box-shadow: -3px 0 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 40px;
  width: 20px;
  -webkit-appearance: none;
  margin-top: -10px;
  margin-bottom: -10px;
}
